apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.moduleName }}"
  namespace: "{{ .Values.namespace }}"
  labels:
    name: "{{ .Values.moduleName }}"
    anyrobot-module: "{{ .Values.moduleName }}"
    {{ .Values.moduleName }}-{{ .Values.cluster }}-service: "true"
    cluster: {{ .Values.cluster }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
  selector:
    matchLabels:
      anyrobot-module: {{ .Values.moduleName }}
      {{ .Values.moduleName }}-{{ .Values.cluster }}-service: "true"
      cluster: {{ .Values.cluster }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        anyrobot-module: {{ .Values.moduleName }}
        {{ .Values.moduleName }}-{{ .Values.cluster }}-service: "true"
        cluster: {{ .Values.cluster }}
    spec:
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
      dnsConfig:
        options:
          - name: single-request-reopen
          - name: use-vc
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      {{- if .Values.antiAffinity.enabled }}
      affinity:
        {{- if eq .Values.antiAffinity.rule "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ template "alert-analysis.name" . }}
        {{- else if eq .Values.antiAffinity.rule "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - {{ template "alert-analysis.name" . }}
        {{- end }}
      {{- end }}
      containers:
      - name: itops-alert-analysis
        image: {{ template "alert-analysis.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: http
            containerPort: {{ .Values.service.alertAnalysis.port }}
        livenessProbe:
          tcpSocket:
            port: {{ .Values.service.alertAnalysis.port }}
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 30
          failureThreshold: 3
        readinessProbe:
          tcpSocket:
            port: {{ .Values.service.alertAnalysis.port }}
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 30
          failureThreshold: 3
        env:
          - name: TZ
            value: {{ .Values.env.timezone }}
          - name: LANG
            value: {{ .Values.env.language }}
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          # - name: DM_SVC_PATH
          #   value: /ar-shared-configmap
        resources: {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
          - name: {{ .Values.moduleName }}-configmap
            mountPath: /opt/itops-alert-analysis/config
          - name: {{ .Values.moduleName }}-data
            mountPath: /opt/itops-alert-analysis/config/data
          # - name: ar-shared-configmap
          #   mountPath: /ar-shared-configmap
      restartPolicy: Always
      volumes:
      - name: {{ .Values.moduleName }}-configmap
        configMap:
          name: {{ .Values.moduleName }}-configmap
      - name: {{ .Values.moduleName }}-data
        emptyDir: {}
      # - name: ar-shared-configmap
      #   configMap:
      #     name: ar-shared-configmap
      #     defaultMode: 420
