apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.dipModule }}"
  namespace: "{{ .Values.namespace }}"
  labels:
    name: "{{ .Values.dipModule }}"
    dip-module: "{{ .Values.dipModule }}"
    {{ .Values.dipModule }}-{{ .Values.cluster }}-service: "true"
    cluster: {{ .Values.cluster }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
  selector:
    matchLabels:
      dip-module: {{ .Values.dipModule }}
      {{ .Values.dipModule }}-{{ .Values.cluster }}-service: "true"
      cluster: {{ .Values.cluster }}
  template:
    metadata:
      labels:
        dip-module: {{ .Values.dipModule }}
        {{ .Values.dipModule }}-{{ .Values.cluster }}-service: "true"
        cluster: {{ .Values.cluster }}
    spec:
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
      dnsConfig:
        options:
          - name: single-request-reopen
          - name: use-vc
      # securityContext:
      #   runAsNonRoot: true
      #   runAsUser: 1000
      {{- if .Values.antiAffinity.enabled }}
      affinity:
        {{- if eq .Values.antiAffinity.rule "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ template "itops-alert-manager.name" . }}
        {{- else if eq .Values.antiAffinity.rule "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - {{ template "itops-alert-manager.name" . }}
        {{- end }}
      {{- end }}
      containers:
      - name: alert-manager
        image: {{ template "itops-alert-manager.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: alert-manager
            containerPort: {{ .Values.service.reportCenter.port }}
        livenessProbe:
          tcpSocket:
            port: {{ .Values.service.reportCenter.port }}
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 30
          failureThreshold: 3
        readinessProbe:
          tcpSocket:
            port: {{ .Values.service.reportCenter.port }}
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 30
          failureThreshold: 3
        env:
          - name: TZ
            value: {{ .Values.env.timezone }}
          - name: LANG
            value: {{ .Values.env.language }}
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          {{- if .Values.depServices.rds.type }}
          - name: DB_TYPE
            value: {{ .Values.depServices.rds.type | quote }}
          {{- end }}
          - name: HOME
            value: /tmp
        resources: {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
          - name: {{ .Values.dipModule }}-configmap
            mountPath: /opt/itops-alert-manager/config
          - name: itops-alert-manager-resource
            mountPath: /opt/itops-alert-manager/data
      restartPolicy: Always
      volumes:
      - name: {{ .Values.dipModule }}-configmap
        configMap:
          name: {{ .Values.dipModule }}-configmap
      - name: itops-alert-manager-resource
        hostPath:
          path: /sysvol/dip/itops-alert-manager
          type: DirectoryOrCreate
      # - name: itops-alert-manager-resource
      #   persistentVolumeClaim:
      #     claimName: data-{{ .Values.dipModule }}


